css-form input.ng-invalid {
    border: 1px solid #FA787E;
}

.css-form input.ng-valid {
    border: 1px solid #78FA89;
}

.css-form input.ng-pristine {
    border: 1px solid #FA787E;
}

.css-form input.ng-dirty {
    border: 1px solid #FA787E;
}

.leftmenubar {
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 18%;
    height: 100%;
    background-color: #48cec2;
    justify-content: center;
    padding-left: 0.4%;
}

.topMenu {
    z-index: 0;
    height: 75px;
    background-color: #3e464f;
}

.brandName {
    height: 100px;
    width: 500px;
    background-image: url("../style/images/DOOD%20logo.png");
    background-repeat: no-repeat;
    background-size: 45%;
}

.brandName img{
    z-index: 1;
    display: block;
    width: auto;
    height: auto;
}

.boxje {
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    background-color: #3e464f;
    width: 40%;
    height: 18.6%;
    margin-right: 2%;
    margin-top: 2%;
}

.boxje  img {
    z-index: 2;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}