body {
    background-color:#48CEC2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:link {
    color:#FFFFFF;
}

a:visited {
    color: #FFFFFF;
}

a:hover, a:active{
    color: #E44A4E;
}

.navbar .nav > li > a:link {
     color:#FFFFFF;
 }

.navbar .nav > li > a:visited {
    color: #FFFFFF;
}

.navbar .nav > li > a:hover, a:active{
    color: #E44A4E;
}

footer {
    padding-top:15px;
    padding-bottom:10px;
    color:#FFFFFF;
}

footer a {
    color:#FFFFFF;
    text-decoration: underline;
}

footer a:visited {
    color: #ffffff;
}

footer a:hover, a:active{
    color: #E44A4E;
}

.validatie .ng-pristine {
    border:2px solid Red;
}
.validatie .ng-dirty.ng-valid {
    border:2px solid Green;
}
.validatie .ng-dirty.ng-invalid {
    border:2px solid Red;
}

.leftmenubar {
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 16.5%;
    height: 85%;
    background-color: #48cec2;
    justify-content: center;
    padding-left: 0.4%;
    left: 0;
}

.logo{
    width:100px;
}

.Content {
    margin-top:75px;
}

.mainApp {
    margin-top:-25px;
}

.customContainer {
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #3d454e;
}

.inputBlok {
    background: #dfdfdf;
    padding:10px;
    margin-top:5px;
    margin-bottom:5px;
}

.inputLabel {
    width: 35%;
}

.witteText {
    color:#FFFFFF;
}

.rodeText {
    color:#E44A4E;
}

.inputMargin {
    margin:5px;
}

.Tekentje {
    height: 20px;
    width: 20px;
}

.boxje {
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    background-color: #3e464f;
    width: 40%;
    height: 18.6%;
    margin-right: 2%;
    margin-top: 2%;
}

.boxje img {
    z-index: 2;
    position: absolute;
    margin: auto;
    width: 80%;
    height: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#piechart {
    position: absolute;
    float: right;
    margin-top: -1%;
    margin-left: 35%;
    width: 50%;
    height: 90%;
}

.wiezijnwijplaatje {
    width: 25%;
    height: 25%;
    margin: 10px;
}
.mininavbar {
    position:absolute;
    width:90%;
    height:4.5%;
    right:0;
    font-size: 16px;
    font-size: 0.9vw;
}
.mininavbarimage6 {
    position:absolute;
    z-index:2;
    right:0;
    width:2.34%;
    height:100%;
}
.mininavbartext6 {
    position:absolute;
    z-index:3;
    right:0.5%;
    margin:0.6%;
}
.mininavbarimage5 {
    position:absolute;
    z-index:2;
    right:-2%;
    width:21%;
    height:100%;
}
.mininavbartext5 {
    position:absolute;
    z-index:3;
    right:6%;
    margin:0.6%;
}
.mininavbarimage4 {
    position:absolute;
    z-index:3;
    right:14%;
    width:21%;
    height:100%;
}
.mininavbartext4 {
    position:absolute;
    z-index:4;
    right:20%;
    margin:0.6%;
}
.mininavbarimage3 {
    position:absolute;
    z-index:4;
    right:30%;
    width:21%;
    height:100%;
}
.mininavbartext3 {
    position:absolute;
    z-index:5;
    right:37%;
    margin:0.6%;
}
.mininavbarimage2 {
    position:absolute;
    z-index:5;
    right:46%;
    width:21%;
    height:100%;
}
.mininavbartext2 {
    position:absolute;
    z-index:6;
    right:53%;
    margin:0.6%;
}
.mininavbarimage1 {
    position:absolute;
    z-index:6;
    right: 62%;
    width:21%;
    height:100%;
}
.mininavbartext1 {
    position:absolute;
    z-index:7;
    right: 70%;
    margin-top:0.6%;
}

.linkermenu {
    position: absolute;
    width: 10%;
    background-color: #48cec2;
}
.minicontent {
    background-color: #F3F3F3;
    position:absolute;
    width: 74.7%;
    height: 90.38%;
    right:0;
    bottom:0;
    padding: 25px;
}