<div class="col-xs-2 col-md-2 col-lg-2" >

    <div class="formulierKnop formulierKnopText">
        <a ng-click="formulierPagina = 'locatie'">
            <span ng-class="{rodeText: menuActive == 'notificatie'}">LOCATIE</span>
        </a>
    </div>

    <div class="formulierKnop formulierKnopText">OPBARING</div>
    <div class="formulierKnop formulierKnopText">GEGEVENS</div>
    <div class="formulierKnop formulierKnopText">GELOOF</div>

</div>
<div class="col-xs-10 col-md-10 col-lg-10 minicontent">
    <div ng-switch on="formulierPagina">
        <div ng-switch-when="locatie">
            Locatie
        </div>
    </div>
</div>