<div ng-init="initFormulierGegevens()">
    <div class="col-xs-2 col-md-2 col-lg-2">

        <div class="formulierKnop formulierKnopText">
            <a href="" ng-click="formulierPagina = 'gegevens'">
                <span ng-class="{rodeText: formulierPagina == 'gegevens'}">GEGEVENS</span>
            </a>
        </div>

        <div class="formulierKnop formulierKnopText">
            <a href="" ng-click="formulierPagina = 'locatie'">
                <span ng-class="{rodeText: formulierPagina == 'locatie'}">LOCATIE</span>
            </a>
        </div>

        <div class="formulierKnop formulierKnopText">
            <a href="" ng-click="formulierPagina = 'opbaring'">
                <span ng-class="{rodeText: formulierPagina == 'opbaring'}">OPBARING</span>
            </a>
        </div>

        <div class="formulierKnop formulierKnopText">
            <a href="" ng-click="formulierPagina = 'geloof'">
                <span ng-class="{rodeText: formulierPagina == 'geloof'}">GELOOF</span>
            </a>
        </div>

        <button type="submit" ng-click="opslaan()"
                class="center-block btn btn-primary btn-lg formOpslaan">
            OPSLAAN
        </button>


        <br>

        <div ng-show="error" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error</span>
            {{error}}
        </div>

        <br>

        <div ng-show="success" class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Success</span>
            {{success}}
        </div>

    </div>
    <div class="col-xs-10 col-md-10 col-lg-10 minicontent">
        <div ng-switch on="formulierPagina">
            <form name="formulierPaginaForm" novalidate class="validatie">
                <div ng-switch-when="gegevens">
                    <div class="customContainer formulierContainer">
                        <br>
                        <div class="form-group form-inline">
                            <label class="inputLabel">Voornaam*</label>
                            <div class="input-group">
                                <input placeholder="Jan" class="form-control" type="text"
                                       ng-model="formulierData.algemeneGegevens.voornaam" id="voornaam"
                                       value="formulierData.algemeneGegevens.voornaam" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Achternaam*</label>
                            <div class="input-group">
                                <input placeholder="Janssen" class="form-control" type="text"
                                       ng-model="formulierData.algemeneGegevens.achternaam" id="achternaam"
                                       value="formulierData.algemeneGegevens.achternaam" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Woonplaats*</label>
                            <div class="input-group">
                                <input placeholder="Arnhem" class="form-control" type="text"
                                       ng-model="formulierData.algemeneGegevens.woonplaats" id="woonplaats"
                                       value="formulierData.algemeneGegevens.woonplaats" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Postcode*</label>
                            <div class="input-group">
                                <input placeholder="4829ER" class="form-control" type="text"
                                       ng-model="formulierData.algemeneGegevens.postcode" id="postcode"
                                       value="formulierData.algemeneGegevens.postcode" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Adres*</label>
                            <div class="input-group">
                                <input placeholder="Dorpsstraat" class="form-control" type="text"
                                       ng-model="formulierData.algemeneGegevens.adres" id="adres"
                                       value="formulierData.algemeneGegevens.adres" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Huisnummer*</label>
                            <div class="input-group">
                                <input placeholder="5" class="form-control" type="number"
                                       ng-model="formulierData.algemeneGegevens.huisnummer" id="huisnummer"
                                       value="formulierData.algemeneGegevens.huisnummer" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Telefoon*</label>
                            <div class="input-group">
                                <input placeholder="0612345678" class="form-control" type="text"
                                       ng-model="formulierData.algemeneGegevens.telefoon" id="telefoon"
                                       value="formulierData.algemeneGegevens.telefoon" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Email*</label>
                            <div class="input-group">
                                <input placeholder="email@email.com" class="form-control" type="email"
                                       ng-model="formulierData.algemeneGegevens.email" id="email"
                                       value="formulierData.algemeneGegevens.email" required=""/>
                            </div>
                        </div>

                        <div class="form-group form-inline">
                            <label class="inputLabel">Donor*</label>
                            <div class="input-group">
                                <input placeholder="ja" class="form-control" type="text"
                                       ng-model="formulierData.aanvullendeGegevens.donor" id="donor"
                                       value="formulierData.aanvullendeGegevens.donor" required=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="locatie" ng-init="init()">
                    <div id="map_canvas">
                        <script type="text/ng-template" id="searchbox.tpl.html">
                            <input class="form-control googleMapSearchBox" type="text" placeholder="Adres">
                        </script>
                        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true">
                            <ui-gmap-search-box template="searchbox.template" events="searchbox.events"
                                                position="'TOP_LEFT'"></ui-gmap-search-box>
                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                            idkey="marker.id"></ui-gmap-marker>
                        </ui-gmap-google-map>
                    </div>
                </div>
                <div ng-switch-when="opbaring">
                    <div class="customContainer formulierContainer">
                        <div class="form-group form-inline">
                            <label class="inputLabel">Duur opbaring (dagen)*</label>
                            <div class="input-group">
                                <input placeholder="5" class="form-control" type="number"
                                       ng-model="formulierData.uitvaart.duurOpbaring" id="duurOpbaring"
                                       value="formulierData.uitvaart.duurOpbaring" required=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="geloof">
                    <div class="customContainer formulierContainer">
                        <div class="form-group form-inline">
                            <label class="inputLabel">Religie*</label>

                            <div class="input-group">
                                <input placeholder="Christelijk" class="form-control" type="text"
                                       ng-model="formulierData.aanvullendeGegevens.religie" id="religie"
                                       value="formulierData.aanvullendeGegevens.religie" required=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>