<div class="col-xs-2 col-md-2 col-lg-2" ng-controller="FotoController">

    <form name="fotoForm" novalidate class="validatie">

        <div class="memo memoInput">
            <div class="memoHeader">
                Upload een foto
            </div>
            <div class="memoBody">
                <!--custom upload knop, verwijder de label en span shit en hij is weer normaal -->
                <label class="uploadButton center-block btn btn-success btn-s">
                    <input type="file" ng-model="foto.bestandsnaam" id="fotoUploaden" required multiple onchange="angular.element(this).scope().setFiles(this)"/>
                    <span class="glyphicon glyphicon-upload"></span> Kies foto
                </label>
            </div>
        </div>

        <button type="button" ng-click="opslaan(foto)"
                class="center-block btn btn-primary btn-lg formOpslaan">
            TOEVOEGEN
        </button>
    </form>

    <br>

    <div ng-show="error" class="alert alert-danger animate-show" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error</span>
        {{error}}
    </div>

    <br>

    <div ng-show="success" class="alert alert-success animate-show" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success</span>
        {{success}}
    </div>

</div>

<div class="col-xs-10 col-md-10 col-lg-10 minicontent" ng-init="init()">

    <div class="memo" ng-repeat="item in fotos">

        <div class="memoHeader">
            {{item.bestandsnaam}}
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Verwijderen
            </button>
        </div>

        <div class="memoBody">
            <!--{{item.foto}}-->
            <!-- foto preview -->
        </div>

    </div>

</div>