<h2>Login</h2>

<form name="loginForm" novalidate class="css-form">

    <p>
    Gebruikersnaam: <input type="text" ng-model="gebruiker.gebruikersnaam" name="gebruikersnaam" required=""/>
    <div ng-show="loginForm.$submitted || loginForm.gebruikersnaam.$touched">
        <div ng-show="loginForm.gebruikersnaam.$error.required">Vul alstublieft een gebruikersnaam in.</div>
    </div>
    </p>
    <p>Wachtwoord: <input type="password" ng-model="gebruiker.wachtwoord" name="wachtwoord" required=""/></p>
    <div ng-show="loginForm.$submitted || loginForm.wachtwoord.$touched">
        <div ng-show="loginForm.gebruikersnaam.$error.required">Vul alstublieft een wachtwoord in.</div>
    </div>
    <input ng-disabled="myForm.$invalid" type="submit" ng-click="login(gebruiker)" value="Login" />
    </button>
</form>