<div class="panel panel-primary text-center">

<div ng-show="loggedIn">
    <p>Welkom, u bent ingelogd als {{gebruikersNaam}}.</p>
    <p>Klik <a href="#" ng-click="inEnUitloggen()">hier</a> om uit te loggen.</p>
</div>

<form ng-show="!loggedIn" name="loginForm" novalidate class="loginForm">
    <div class="alert alert-warning" role="alert">U gaat inloggen met <b>DigiD</b>.</div>

    <p><label>Gebruikersnaam*</label> <input type="text" ng-model="gebruiker.gebruikersnaam" name="gebruikersnaam" required=""/></p>
    <p><label>Wachtwoord*</label> <input type="password" ng-model="gebruiker.wachtwoord" name="wachtwoord" required=""/></p>


    <button ng-disabled="loginForm.$invalid" type="button" ng-click="inEnUitloggen(gebruiker)" class="btn btn-default btn-lg">
        <spa aria-hidden="true"></spa> LOG IN
    </button>

</form>

    <div ng-show="error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
    </div>

</div>