<hr>
<div class="muziekZoeklijst">
    <form name="contactForm" novalidate class="validatie"> <input ng-model="zoekopdracht" type="text">
    <input type="image" src="style/images/loep.png" class = "link searchButton" ng-click="test(zoekopdracht)" >
    </form>
    <div class=" row" id ="rijLiedje" value="{{error}}" ng-repeat="item in zoekResultaat">
        <div class=" col-lg-6">
            {{item.artiest}} - {{item.titel}}
        </div>
        <div class="muzieklijst col-lg-6">
            <button  class = "link">+</button>
        </div>
    </div>
</div>


<!-- <div class="customContainer witteText">
    <div class="row">
        <div class="alert alert-warning" role="alert"><img class="Tekentje"
                                                           src="style/images/I.jpg">

        </div>

        <div class="row text-center">
        <img class="wiezijnwijplaatje" src="style/images/overheidthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/yardenthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/doodthumb.jpg">
    </div>
</div>
 --!>