<hr>
<div class="customContainer witteText">
    <div class="row">
        <div class="alert alert-warning" role="alert"><img class="Tekentje"
                                                           src="style/images/I.jpg">

    <div class="leftmenubar">
        <form name="contactForm" novalidate class="validatie"> <input type="text"> </form>
            <div class="muziekZoeklijst">
            <div class="muzieklijst">
                Adaro - Natural Born Killer <img src="./style/images/iconPlusje.png">
            </div>
        </div>
    </div>
    <br>

    <div class="row text-center">
        <img class="wiezijnwijplaatje" src="style/images/overheidthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/yardenthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/doodthumb.jpg">
    </div>
</div>

