<hr>

<div class="muziekZoeklijst">
    <form name="contactForm" novalidate class="validatie"> <input type="text"> </form>
        <div class=" row" id ="rijLiedje">
         <div class=" col-lg-6">
             Adaro - Natural Born Killer
         </div>
            <div class="muzieklijst col-lg-6">
                 <button class = "link">+</button>
            </div>
        </div>
</div>

<!-- <div class="customContainer witteText">
    <div class="row">
        <div class="alert alert-warning" role="alert"><img class="Tekentje"
                                                           src="style/images/I.jpg">

        </div>

        <div class="row text-center">
        <img class="wiezijnwijplaatje" src="style/images/overheidthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/yardenthumb.jpg">
        <img class="wiezijnwijplaatje" src="style/images/doodthumb.jpg">
    </div>
</div>
 --!>