<div class="col-xs-2 col-md-2 col-lg-2" >

    <form name="notificatieForm" novalidate class="validatie">

        <div class="memo memoInput">
            <div class="memoHeader">
                <input placeholder="Titel" class="transparanteTextbox" type="text"
                       ng-model="notificatie.titel" id="titel" required=""/>
            </div>
            <div class="memoBody">
                <textarea placeholder="Bericht" class="transparanteTextbox" rows="4" type="text" ng-model="notificatie.bericht"
                          id="bericht" required=""></textarea>
            </div>
        </div>

        <button ng-disabled="notificatieForm.$invalid" type="button" ng-click="opslaan(notificatie)"
                class="center-block btn btn-primary btn-lg formOpslaan">
            TOEVOEGEN
        </button>
    </form>


</div>
<div class="col-xs-10 col-md-10 col-lg-10 minicontent">
    <div class="memo">
        <div class="memoHeader">
            Titel
        </div>
        <div class="memoBody">
            Bericht
        </div>
    </div>
</div>