<div class="col-xs-2 col-md-2 col-lg-2" >

    <form name="notificatieForm" novalidate class="validatie">

        <div class="memo memoInput">
            <div class="memoHeader">
                <input placeholder="Titel" class="transparanteTextbox" type="text"
                       ng-model="notificatie.titel" id="titel" required=""/>
            </div>
            <div class="memoBody">
                <textarea placeholder="Wens" class="transparanteTextbox" rows="4" type="text" ng-model="notificatie.wens"
                          id="bericht" required=""></textarea>
            </div>
        </div>

        <button ng-disabled="notificatieForm.$invalid" type="button" ng-click="opslaan(notificatie)"
                class="center-block btn btn-primary btn-lg formOpslaan">
            TOEVOEGEN
        </button>
    </form>

    <br>

    <div ng-show="error" class="alert alert-danger animate-show" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error</span>
        {{error}}
    </div>

    <br>

    <div ng-show="success" class="alert alert-success animate-show" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Success</span>
        {{success}}
    </div>


</div>
<div class="col-xs-10 col-md-10 col-lg-10 minicontent" ng-init="init()">


    <div class="memo" ng-repeat="bericht in berichten">>
        <div class="memoHeader">
            {{bericht.titel}}
        </div>
        <div class="memoBody">
            {{bericht.wens}}
        </div>
    </div>
</div>